@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
#root {
  max-width: 1280px;
  margin: 0 0;
  padding: 0rem;
}

[theme='light'] {
  color-scheme : light;
  --bg-color: #F2F2F2;
  --text-color:#000;
  button {
    background-color: rgba(230, 230, 230, 1);
  }
}
[theme='dark']{
  color-scheme: dark;
  --bg-color:#131313;
  --text-color: rgba(255, 255, 255, 0.8) ;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.topbar {
  background-color: var(--bg-color);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 
    0 4px 6px -1px rgba(0, 0, 0, 0.3), 
    0 2px 4px -1px rgba(0, 0, 0, 0.3);
  
  position: sticky;
  top: 0;
  z-index: 1000;
}
