@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
#root {
  --bg-color: #F2F2F2;
  --text-color:#000;
  margin: 0 0;
  padding: 0rem;
  background-color: var(--bg-color);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}


button{
  background-color: rgba(210, 210, 210, 1);
  font-family: Saira;
}

.modalBox {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.topbar {
  background-color: var(--bg-color);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 
    0 4px 6px -1px rgba(0, 0, 0, 0.3), 
    0 2px 4px -1px rgba(0, 0, 0, 0.3);
  
  position: sticky;
  top: 0;
  z-index: 1000;
}

button:hover {
  border-color: #646cff;
}

